* {
	margin:0 ;
	padding: 0;
}
ul {
	list-style: none;
}

@keyframes fadeIn {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0); 
		opacity: 1;
	} 
}

.fadeIn {
	transform: translateY(100px);
	opacity: 0;
	animation: fadeIn 1s;
	animation-fill-mode: forwards;
}

.fadeInDelay {
	animation-delay: 1s
}

header {
	padding: 20px;
	background: linear-gradient(to bottom, #019829, #addbad);
	height: 280px;
}

header nav {
	max-width: 1000px;
	margin: 0 auto;
}

header nav a {
	color: #f0f0f0;
	text-decoration: none
}

header nav a:hover {
	color: #f90;
}

header nav .user {
	float: right;
}


header nav ul li {
	display: inline-block;
	padding-right: 40px;
}

header .headerMain {
	width: 730px;
	color: #f0f0f0;
	margin: 50px auto;
}

header .headerMain ul {
	float: right;
}

header .headerMain h1 {
	line-height: 70px
}

.banner {
	width: 690px;
	padding: 20px;
	background: #fff;
	margin: 0 auto;
	margin-top: -105px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .3)
}

.banner ul {
	text-align: center;
}

.banner ul li {
	display: inline-block;
	height: 160px;
	width: 180px;
	text-align: center;
}

.banner ul li .feature {
	margin: 20px auto;
	background: #f90;
	width: 80px;
	height: 80px;
	border-radius: 50%
}

.main {
	margin: 100px auto;
	width: 720px;
}

.main .block {
	margin-bottom: 100px;
	margin-left: -20px
}

.main .block .blockText {
	float: left;
	width: 260px;
	line-height: 50px;
	color: #999; 
	font-size: 24px;
	margin-left: 20px
}

.main .block img {
	float: left;
	width: 440px;
	height: 235px;
	margin-left: 20px;
}

.main .block::after {
	content: '';
	clear: both;
	display: block;
}

footer {
	font-size: 12px;
	color: #999;
	text-align: center;
}